src/ContosoJokesGenerator/Workflows/JokesQueryAppTrigger-2556CEB9-231D-EF11-9F89-6045BDDA1517.json
{
  "properties": {
    "connectionReferences": {
      "shared_sharepointonline_1": {
        "runtimeSource": "embedded",
        "connection": {
          "connectionReferenceLogicalName": "cj_JokesSharePointConnectionReference"
        },
        "api": {
          "name": "shared_sharepointonline"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        },
        "Jokes SharePoint Site (cj_JokesSharePointSite)": {
          "defaultValue": "https://mngenvmcap157851.sharepoint.com/sites/IT",
          "type": "String",
          "metadata": {
            "schemaName": "cj_JokesSharePointSite"
          }
        },
        "Jokes SharePoint List (cj_JokesSharePointList)": {
          "defaultValue": "9cd8be6e-2b27-4c5a-aa45-0795fb70b601",
          "type": "String",
          "metadata": {
            "schemaName": "cj_JokesSharePointList"
          }
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "39c00e63-489a-48e3-a4f3-bee352beb547"
          },
          "type": "Request",
          "kind": "PowerAppV2",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Get_items": {
          "runAfter": {
            "Initialize_variable": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "2747a1ca-f28e-422e-a73e-8c187d93183d"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_sharepointonline",
              "connectionName": "shared_sharepointonline_1",
              "operationId": "GetItems"
            },
            "parameters": {
              "dataset": "@parameters('Jokes SharePoint Site (cj_JokesSharePointSite)')",
              "table": "@parameters('Jokes SharePoint List (cj_JokesSharePointList)')"
            },
            "authentication": {
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']",
              "type": "Raw"
            }
          }
        },
        "Respond_to_a_Power_App_or_flow": {
          "runAfter": {
            "Apply_to_each": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "cb660b8f-02f4-41a4-8aab-2bcb185b3371"
          },
          "type": "Response",
          "kind": "PowerApp",
          "inputs": {
            "statusCode": 200,
            "body": {
              "results": "@variables('results')"
            },
            "schema": {
              "type": "object",
              "properties": {
                "results": {
                  "title": "results",
                  "x-ms-dynamically-added": true,
                  "type": "string"
                }
              }
            }
          }
        },
        "Initialize_variable": {
          "runAfter": {},
          "metadata": {
            "operationMetadataId": "e6aa729a-44cc-47bb-af08-53bf02e22832"
          },
          "type": "InitializeVariable",
          "inputs": {
            "variables": [
              {
                "name": "results",
                "type": "string"
              }
            ]
          }
        },
        "Apply_to_each": {
          "foreach": "@outputs('Get_items')?['body/value']",
          "actions": {
            "Append_to_string_variable": {
              "runAfter": {},
              "metadata": {
                "operationMetadataId": "8c646cf8-9d8e-427c-8930-9efde155a9b9"
              },
              "type": "AppendToStringVariable",
              "inputs": {
                "name": "results",
                "value": "@items('Apply_to_each')?['{Name}']"
              }
            }
          },
          "runAfter": {
            "Get_items": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "20a388b2-c635-4773-a9d7-5a71bc6c4b3c"
          },
          "type": "Foreach"
        }
      },
      "outputs": {}
    },
    "templateName": null
  },
  "schemaVersion": "1.0.0.0"
}